body {
    display: flex;
    justify-content: center;
    height: 2000px;
    background-color: #00de9b;
}

.number {
    color: #fff;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 1000px;
}